.product-list-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    margin: 30 auto;
    background: lightgray;
    /* border: 2px solid red; */
  }
  

  @media screen and (max-width: 768px) {
    .product-list-container {
      grid-template-columns: 1fr;
    }
  }


.categories-container{
    padding: 50px 10px 10px 10px
}
.categories-container > h4{
text-align: center;
   
  }

  .categories-container >div{
    display: grid;
    grid-template-columns: repeat(8,1fr);
    gap: 10px;
  }

  .category-button {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
    color: #333;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .active {
    background-color: rgb(98, 205, 240);
    color: #fff;
  }
  